* {
padding: 0;
margin: 0;
} 

body {
margin:0;
padding: 0;
background: #eff1f6;
color: #444;
font: 13px Arial, Verdana, Tahoma, sans-serif;
line-height: 17px;
}

/* img {border: none;} */
a{ color: #043b72; text-decoration: none; }
a:hover {  color: #000; }

#top {
background: #eff1f6 url(images/top.jpg) no-repeat;
padding: 10px 0;
}
#contentt {
background: #eff1f6 url(images/content.jpg) repeat-y;
padding: 20px;
}
#bottom {
background: #eff1f6 url(images/bottom.jpg) no-repeat;
padding: 10px 0;
}

#wrap {
width: 970px;
margin: 0 auto;
}

#header {
height: 100px;
line-height: 30px;
}
#header h1 { 
font-size: 50px;
letter-spacing: -1px;
padding: 30px 0 0 10px;
color: #000;
}
#header h1 a { 
color: #043b72;
text-decoration: none;
}
#header h1 a:hover {
color: #000;
}
#header h2 { letter-spacing: -1px; padding: 0 0 0 16px; font-size: 29px; color: #000; }

#headermenu {
height: 60px;
background: #043b72 url(images/menubg.jpg) repeat-x;
line-height: 60px;
}
.headerm { 
padding: 0;
text-transform: uppercase;
font-weight: 100;
}
.headerm li {
float:left;
list-style-type:none;
}
.headerm li a {
display:block;
padding:0 20px;
text-decoration:none;
color: #fff;
letter-spacing:1px;
letter-spacing: -1px;
font-size: 20px;
}
.headerm li a:hover {
color:#000;
text-decoration:none;
}
/* css .left */
.left {
/* margin-top: 10px;*/
float: left;
width: 200px;
line-height: 15px;
}
.left h2 {
margin-top: 10px;
font: bold 13px Verdana, 'Trebuchet MS', Sans-serif;
line-height: 30px;	
background: #8b9cae url(images/contenth2.jpg) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
}
.left ul  {
color: #aaa;
text-align: left;
margin: 3px 0 8px 0; 
padding-left: 10px;
text-decoration: none;	
list-style-type:none;	
}
.left ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;	
}
.left a:hover{
	color:#aaa;
}
.left ul a {
font-weight: 600;
color: #043b72;
}
.left ul a:hover { color : #333; }

.middle { 
margin-top: 10px;
float: left;
width: 700px;
margin-left: 10px;
line-height: 20px;
}
.middle h2 {
font: bold 20px Verdana, 'Trebuchet MS', Sans-serif;
color: #fff;	
background: #8b9cae url(images/contenth2.jpg) repeat-x;
margin-bottom: 5px;
margin-top: 10px;
height: 40px;
line-height: 40px;
padding-left: 10px;
}
.middle h2 a {
color: #fff;
}
.middle h2 a:hover {
color: #000;
}

/* .right {
margin-top: 10px;
float: right;
width: 200px;
}
.right h2 {
margin: 10px 0 20px 0;
font: bold 13px Verdana, 'Trebuchet MS', Sans-serif;
line-height: 30px;	
background: #8b9cae url(images/contenth2.jpg) repeat-x;
height: 30px;
color: #fff;
padding-left: 10px;
} */

#footer { 
color: #777;
text-align: center;
padding-bottom: 10px;
}
#footer a {  color: #777; text-decoration: none; }
#footer  a:hover { color: #000; } 

/*html reset*/

a { color:inherit; text-decoration:none; }
a:hover { color:inherit; text-decoration:underline; }
a:active { background-color:transparent; }

/* FORM */
.selTy { height:30px; border:solid 1px #8b9cae; vertical-align:middle; font-size:11px; line-height:30px; padding:0 0 0 8px; color:#333; }
.intTy { background-color:#fff; height:28px; border:solid 1px #8b9cae; vertical-align:middle; font-size:11px; line-height:28px; padding:0 0 0 11px; }

/* TABLE */
.tbTy1 { width:100%; margin-top:10px; border-top:solid 2px #043b72; border-bottom:solid 1px #b3b3b3; line-height:1; position:relative; }
.tbTy1 thead tr th { background-color:#e5e7ec; color:#333; text-align:center; border-bottom:solid 1px #043b72; border-left:solid 1px #ccc; padding-top:10px; padding-bottom:10px; }
.tbTy1 tr th:first-child, .tbTy1 tr > td:first-child { border-left:none; }
.tbTy1.dataLeft th, .tbTy1.dataLeft td { padding-left:10px; text-align:left; padding-top:10px; }
.tbTy1 tbody th { background-color:#e5e7ec; color:#333; border-top:solid 1px #ccc; border-right:solid 1px #ccc; border-left:solid 1px #ccc; vertical-align:middle; }
.tbTy1 tbody td { border-top:solid 1px #ccc; border-left:solid 1px #ccc; vertical-align:middle; text-align:center; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; /* vertical-align:top; */ }
.tbTy1 tbody td.caL { text-align:left; }
.btnArea { position:relative; padding-top:30px; height:30px; overflow:hidden; text-align:center; line-height:30px; }
.btnArea.line { border-top:solid 1px #b3b3b3; }
.btnArea .btnL { position:absolute; left:0; top:20px; }
.btnArea .btnR { position:absolute; right:0; top:20px; }
.btnArea .paging a { display:inline-block; color:#333; padding:0 6px; vertical-align:middle; }
.btnArea .paging a:hover, .btnArea .paging a.active { color:#ef8009; text-decoration:underline; }
.btnArea .paging a.prev { width:5px; height:9px; background:url("/newir/iradm/images/common.png") 2px -110px no-repeat; }

/* BUTTON */
.btnTy1, .btnTy1:hover { display:inline-block; height:26px; padding:0 10px; border:solid 1px #b9cbde; border-radius:2px; font-size:10px; color:#175491; }
.btnTy2, .btnTy2:hover { display:inline-block; height:28px; padding:0 20px; border:solid 1px #7799bb; border-radius:2px; font-size:12px; color:#043b72; line-height:28px; }
.btnTy3, .btnTy3:hover { display:inline-block; height:29px; padding:0 20px; background:#175491; border-radius:2px; font-size:12px; color:#fff; line-height:28px; }
.btnTy4, .btnTy4:hover { display:block; width:100%; height:50px; background:#175491; border-radius:2px; font-size:16px; color:#fff; line-height:50px; text-align:center; }
.btnUp { display:inline-block; width:20px; height:20px; background:url("/newir/iradm/images/common.png") 6px -226px no-repeat; border:solid 1px #b9cbde; border-radius:2px; }
.btnDown { display:inline-block; width:20px; height:20px; background:url("/newir/iradm/images/common.png") -31px -226px no-repeat; border:solid 1px #b9cbde; border-radius:2px; }
.btnUp.end { background-position:6px -249px; }
.btnDown.end { background-position:-29px -249px; }
.btnClose, .btnClose:hover { display:inline-block; margin-top:3px; width:23px; height:23px; border:solid 1px #8b9cae; border-radius:2px; text-align:center; line-height:23px; vertical-align:middle; text-decoration:none; }

.btnArea .paging a.next { width:5px; height:9px; background:url("/newir/iradm/images/common.png") 11px -129px  no-repeat; }
.btnArea + .tbTy1 { margin-top:10px; }
.i-ess { background:url("/newir/iradm/images/bul-1.png") 0 0 no-repeat; width:4px; height:4px; vertical-align:middle; margin:-2px 5px 0 10px; }
.photoImg { overflow:hidden; position:relative; background:#ddd; width:190px; }
.photoImg img { width:100%; }
.photoImg .close { position:absolute; top:5px; right:7px; width:20px; display:inline-block; font-weight:bold; text-decoration:none; font-size:20px; text-align:center; }


/* MARGIN */
.mgTB10 { margin:10px 0; }
.mgT10 { margin-top:10px; }
.mgB10 { margin-bottom:10px; }
.mgL10 {margin-left:10px;}